[K2-IR6000]
IS_ACTIVE=0
TYP=CanonIR6000
IS_COLOUR=0
IP_ADDRESSE=1234:1234@10.16.102.213
DIR_NEWUSER=
PARAM_NEWUSER=
DIR_LIMIT=
PARAM_LIMIT=
DIR_DEL_USER=
PARAM_DEL_USER=
# Die Werte geben die Position der entsprechenden Werte in der Auswertedatei des jeweiligen 
# Kopierers an (ohne ID-Nummer). Dabei ist folgende Reihenfolge zu beachten:
# KopienSW;DruckSW;LimitSW;KopienCl;DruckCl;LimitCl
FELDER=1;0;2;0;0;0

